@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  position: relative;
  font-size: 0.9em;
  font-weight: 300;
  width: 100%;
  height: 100%;
  background-color: #f5f7f9;
}

body {
  
  margin: 0;
  /* padding: 8px; */
  box-sizing: border-box;
  font-family: 'Mukta';
  overflow: hidden;

  --primary-color-light: #41e4b8;
  --primary-color: #3dd6ad;
  --primary-color-dark: #34b793;

  --secondary-color: #5b49dc;

  --success-color: #2fba95;
  --info-color: #2fba95; 
  --warning-color: #b7ce36;
  --error-color: #ea4c1c;
  

  --text-primary-color: #412e50;
  --text-primary-inverted: #fff;

  --color-grey-1: #f2f2f2;
  --color-grey-2: #d6d6d6;
  --color-grey-3: #aaaaaa;
  --color-grey-4: #888888;

  --text-size-xsmall: 0.7em; 
  --text-size-small: 0.8em;
  --text-size-large: 1.4em;
  --text-size-xlarge: 1.7em;
  --text-size-massive: 4em; 

  --button-primary-border-color: var(--primary-color-dark);
  --button-primary: var(--primary-color);
  --button-secondary: var(--secondary-color);

  --button-border-radius: 8px;

  --box-border-color: var(--color-grey-1);
  --border-radius: 16px;

  --modal-background-primary: #312a43;
  --modal-background-secondary: #504262;

  --msg-box-background: #2b284b;

  color: var(--text-primary-color);
}

.text-xsmall{
  font-size: var(--text-size-xsmall);
}
.text-small{
  font-size: var(--text-size-small);
}
.text-large{
  font-size: var(--text-size-large);
}
.text-xlarge{
  font-size: var(--text-size-xlarge);
}
.text-massive{
  font-size: var(--text-size-massive);
}
.text-success{
  color: var(--success-color);
}
.text-info{
  color: var(--info-color);
}
.text-warning{
  color: var(--warning-color);
}
.text-error{
  color: var(--error-color);
}

.text-bold{
  font-weight: bold;
}

.margin-0{
  margin: 0;
}

.page-container{
  width: 100%;
  height: 100%;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-center-spacebetween{
  align-items: center;
  justify-content: space-between;
}

.nostyle,
.nostyle[type='submit'],
.nostyle[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--text-primary);
}

label {
  display: block;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

select,
textarea {
  margin: 0 0 0.5em 0;
}

input:disabled {
  color: #ccc;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  background-color: none;
}

button {
  outline: none;
}

button:hover {
  filter: brightness(105%)
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  position:relative;
  filter: brightness(120%);
  top: 1px;
}

button:focus {
  border-color: #666;
}

button.secondary{
  border-radius: 99px;
  border: 2px solid var(--button-secondary);
  background: var(--button-secondary);
  padding: 6px 16px;
  height: fit-content;
  font-size: 0.8em; 
  position: relative;
  color: var(--text-inverted)
}

button.outline{
  border-radius: var(--button-border-radius);
  border-width: 2px;
  border-style: solid;
  padding: 6px 16px;
  height: fit-content;
  position: relative;
}

button.outline:hover{
  background: #ffffff20;
}

button.select-token{
  background-color: rgba(0, 0, 0, 0.084);
  align-items: center;
  border-radius: var(--button-border-radius);
  padding: 0 8px;
}

.outline.primary{
  border-color: var(--primary-color);
}



button.primary {
  color: var(--text-primary-inverted);
  background-color: var(--primary-color);

  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  
  font-weight: 600;
  letter-spacing: 0.08em;
  padding: 1px 5px;
}

button.primary:hover{
  border: 1px solid var(--button-primary-border-color);
}

button.small{
  font-size: var(--text-size-small);
  padding: 1px 5px;
  margin: 0 8px;
}

button.large{
  font-size: var(--text-size-xlarge);
  padding: 1rem 2rem;
  margin: 0;
}

button.full{
  width: 100%;
}

/*
  Main Token and Currency input components
*/

.input-container {
  width: 100%;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--box-border-color);
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
}

.input-row-1 {
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.input-label{
  flex-grow: 1;
  min-width: fit-content;
  margin-right: 20px;
}

.input-balance{
  color: var(--text-primary);
}

.input-row-2 {
  justify-content: space-between;
}

.input-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

input.input-amount-value::placeholder {
  color: var(--color-grey-3);
}

.input-amount-value {
  width: 100%;
  font-size: var(--text-size-xlarge);
  padding: 0px;
  background: none;
  border: none;
}

.input-token-label{
  border: 0px;
  padding: 0;
  font-size: var(--text-size-xlarge);;
  font-weight: 400;
  min-width: fit-content;
}

.text-link {
  color: var(--text-primary);
}

.text-link:visited {
  color: var(--text-primary);
}

.underline {
  text-decoration: underline;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  background: #00000070;
}

.modal-style{
  color: var(--text-primary-inverted);
  margin-top: 100px;

  width: 480px;
  z-index: 100;

  background-color: var(--modal-background-primary);
  padding: 30px;

  border-radius: var(--border-radius);

  box-shadow: -1px 10px 82px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 10px 82px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 10px 82px 0px rgba(0, 0, 0, 0.3);
}

.modal-sub-box{
  background-color: var(--msg-box-background);
  font-size: var(--text-size-xsmall);
  border-radius: calc(var(--border-radius) / 2);
  padding: 1rem;
  z-index: 99;
}

.modal-confirm-details-box{
  background-color: var(--modal-background-secondary);
  margin: 0 -30px;
  padding: 0.5rem 30px 30px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  margin-bottom: -30px;
}

.confirm-modal-close-img{
  position: relative;
  top: 3px;
}

.modal-confirm-header{
  align-content: center;
  justify-content: space-between;
}
.modal-confirm-item{
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-self: center;
}
.modal-confirm-item > p {
  margin: 0.25rem 0;
}

.modal-confirm-buttons{
  flex-grow: 1;
  padding: 1rem 0 0;
  justify-content: flex-end;
}

.panel-container {
	box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
  padding: 30px;
  background: linear-gradient(333deg, rgba(162,137,210,1) 0%, rgba(255,255,255,1) 100%);
  width: 380px;
  border-radius: 32px;

  box-shadow: -1px 10px 82px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 10px 82px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 10px 82px 0px rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}

@media screen and (max-width: 800px) {
  .panel-container {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }

}