html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f5f7f9;
}

body {
  color: #333;
  margin: 0;
  /* padding: 8px; */
  box-sizing: border-box;
  font-family: 'Open Sans';
  overflow: hidden;
}

.number {
  font-family: 'Roboto Mono';
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  background-color: none;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.nostyle,
.nostyle[type='submit'],
.nostyle[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
